[submodule "server-tools"]
	path = server-tools
	url = git@github.com:Vauxoo/server-tools.git
	branch = 12.0
[submodule "sbd"]
	path = sbd
	url = git@git.vauxoo.com:Vauxoo/sbd.git
	branch = 12.0
[submodule "partner-contact"]
	path = partner-contact
	url = git@github.com:vauxoo/partner-contact.git
	branch = 12.0
